<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Dev</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" href="./../styles/reset.css">
    <link rel="stylesheet" href="./../styles/normalize.css">
    <link rel="stylesheet" href="./../styles/index.css">
  </head>
  <body>
    <main>
      <header>
        <img id="imgLogoAlura" src="./../images/Logo.svg" alt="Logo alura Dev" class="header__imgLogoAlura">
        <input id="inputPesquisa" type="search" class="header__inputPesquisa" placeholder="Busque por algo" title="Campo texto para digitar algo para buscar"/>
        <div class="header__perfil">
          <img id="imgFotoPerfil" src="https://avatars.githubusercontent.com/u/70358338?v=4" class="herader__perfil__imgFotoPerfil" alt="Foto do perfil">
          <p id="pNomePerfil" class="header__perfil__pNomePerfil">Francisco</p>
        </div>
      </header>
      <nav id="menu">
        <div class="menu__div">
          <p class="menu__div__pMenu">MENU</p>
          <div class="menu__div__editorCodigo">
            <img id="imgIcoCode" src="./../images/Icon-code.svg" class="menu__div__imgIcoCode" alt="Icone do Editor de código">
            <p id="pEditorCodigo" class="menu__div__editorCodigo__pEditorCodigo">Editor de código</p>
          </div>
          <div class="menu__div__comunidade">
            <img id="imgIcoUsers" src="./../images/icon_users.svg" class="menu__div__imgIcoUsers" alt="Icone da Comunidade">
            <p id="pIconeComunidade" class="menu__div__comunidade__pIconeComunidade">Comunidade</p>
          </div>
        </div>
      </nav>
      <section id="editorCodigo">
        <div class="editorCodigo__divEditorCodigo">
          <div class="editorCodigo__divEditorCodigoMoldura">
            <textarea name="textareaEditorCodigo" id="textareaEditorCodigo" class="editorCodigo__textareaEditorCodigo" cols="30" rows="10"></textarea>
          </div>
          <div class="editorCodigo__divEditorCodigoBotao">
          </div>
        </div>
        <div class="editorCodigo__divProjeto"></div>
      </section>
      <section id="comunidade">

      </section>
    </main>
  </body>
</html>