@media screen and (max-width: 768px){
  main{
    height: 1066px;
    overflow-y: scroll;
  }

  header {
    width: 704px;
  }

  .header__imgLogoAlura {
    top: 11px;
  }

  .header__inputPesquisa{
    width: 431px;
    margin-left: 40px;
  }

  .header__perfil{
    display: none;
    margin-left: -5000px;
  }

  #menuPerfil{
    display: block;
  }

  .menuPerfil__imgIconeHamburger{
    position: relative;
    width: 20px;
    height: 17.5px;
    top: 19.25px;
    left: 54px;
  }

  .header__menuPerfil{
    position: absolute;
    z-index: 200;
    /* display: none; */
    flex-direction: column;
    width: 254px;
    height: 932px;
    top: 95px;
    left: 481.5px;
    padding: 24px;
    margin-right: 12px;
    border-radius: 8px;
    background: #2D415B;
  }
  
  .hideMenu{
    display: none;
  }

  .exibeMenu{
    display: flex;
  }

  .menu__div__editorCodigo{
    top: 0px;
  }

  hr{
    width: 206px;
    margin-top: 24px;
    margin-bottom: 36px;
    border: solid 1px rgba(255, 255, 255, 0.16);
  }

  .header__menuPerfil__Perfil{
    display: flex;
    flex-direction: row;
    width: 206px;
    height: 48px;
    padding: 0px 0px 0px 12px;
  }

  .herader__perfil__imgFotoPerfil{
    top: 0px;
  }
  
  .header__perfil__pNomePerfil{
    margin-top: 4px;
    margin-left: 8px;
  }

  #menu{
    display: none;
    margin-left: -5000px;
  }

  .editorCodigo__divEditorCodigoMoldura{
    width: 704px;
    left: 32px;
  }

  .editorCodigo__divEditorCodigoCodigo{
    width: 640px;
    height: 302px;
  }

  .editorCodigo__textareaEditorCodigo{
    width: 608px;
    height: 234px;
    line-height: 18.46px;
  }

  .editorCodigo__buttonHighlight{
    width: 704px;
    left: 32px;
  }

  .editorCodigo__divProjeto{
    top: 622px;
    left: 32px;
  }

  .editorCodigo__labelProjeto{
    width: 704px;
  }
  
  .editorCodigo__inputNomeProjeto{
    width: 704px;
  }

  .editorCodigo__textareaDescricao{
    width: 704px;
  }

  .editorCodigo__labelPersonilizacao{
    width: 704px;
  }

  .divPersonalizacao{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  
  .editorCodigo__selectLanguage{
    width: 344px;
  }

  .editorCodigo__inputColor{
    width: 328px;
  }

  .editorCodigo__buttonSalvarProjeto{
    width: 704px;
  }
}