body{
  color: #FFFFFF;  
  background-color: #E5E5E5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

main{
  max-width: 1440px;
  height: 1024px;
  background-color: #051D3B;
  border-style: solid 1px #051D3B;
  border-radius: 40px;
  padding: 32px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1376px;
  height: 56px;
}

.header__imgLogoAlura {
  position: relative;
  top: 12px;
  width: 145px;
  height: 34.05px;  
}

.header__inputPesquisa{
  position: static;
  left: 0px;
  top: 0px;
  padding: 0px;
  width: 752px;
  height: 56px;
  margin-left: 167px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8PX;
  padding: 16px 294px 16px 14px;
}

.header__perfil{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;/*106*/
  height: 56px;
  margin-left: 190px;/*206*/
  padding: 12px;
  border-radius: 8px;
}

.herader__perfil__imgFotoPerfil{
  width: 32px;
  height: 32px;
  top: 12px;
  left: 12px;
  border-radius: 100%;
}

.header__perfil__pNomePerfil{
  width: 65px;/*42*/
  height: 24px;
  top: 16px;
  left: 0px;/*52*/
}

.menu__div{
  position: absolute;
  width: 189px;
  height: 146px;
  top: 128px;
}

.menu__div__pMenu{
  width: 51px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  margin-bottom: 8px;
}

.menu__div__editorCodigo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 189px;
  height: 48px;
  top: 16px;
}

.menu__div__imgIcoCode{
  width: 48px;
  height: 48px;
}

.menu__div__editorCodigo__pEditorCodigo{
  width: 125px;
  height: 24px;
  top: 12px;
  left: 64px;
}
.menu__div__comunidade{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 189px;
  height: 48px;
  top: 16px;
  margin-top: 8px;
}

.menu__div__imgIcoUsers{
  width: 48px;
  height: 48px;
}

.menu__div__comunidade__pIconeComunidade{
  text-align: left;  
  width: 125px;/*96*/
  height: 24px;
  top: 12px;
  left: 64px;
  opacity: 56%;
}

.editorCodigo__divEditorCodigoMoldura{
  position: absolute;
  width: 752px;
  height: 366px;
  padding: 32px;
  top: 128px;
  left: 344px;
  border-radius: 8px;
  border-color: solid 1px #6BD1FF;
  background-color: #6BD1FF;
}

.editorCodigo__divEditorCodigoCodigo{
  width: 688px;
  height: 302px;
  padding: 16px;
  border: solid 1px #141414;
  border-radius: 8px;
  background-color: #141414;
}

.editorCodigo__imgMacButton{
  width: 52px;
  height: 12px;
  margin-bottom: 24px;
}

.editorCodigo__textareaEditorCodigo{
  width: 656px;
  height: 234px;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  resize: none;
  color: #FFFFFF;
  border: 0 none;
  box-shadow: 0 0 0 0;
  outline: 0;
  background-color: #141414;
}

.editorCodigo__textareaEditorCodigo:focus{
  border: 0 none;
  box-shadow: 0 0 0 0;
  outline: 0
}

/* @media screen and (min-width: 830px){
  
} */

/* @media screen and (max-width: 768px){
  main{
    max-height: 1066px;
    overflow-y: scroll;
  }

  .div-logo {
    top: 11px;
  }

  .input-pesquisa{
    position: absolute;
    width: 431px;
    margin-left: 40px;  
  }
} */

/* @media screen and (max-width: 426px){
  
} */

/* @media screen and (max-width: 375px){
  main {
    max-height: 1248px;
    border-radius: 24px;
    overflow-y: scroll;
  }

  .div-logo {
    top: 11px;
  }
} */